.header {
  padding: 20px 0px;
  background-color: #000;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2rem;
  font-weight: 500;
  white-space: nowrap;
  margin-right: 15px;
}
.link {
  color: #fff;
}
.search_input {
  max-width: 500px;
  width: 100%;
}